@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  color: black;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

.app {
  margin: 40px;
  max-width: 600px;
  width: 100%;
  min-height: 630px;
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.6fr 1.5fr 5.5fr;
  gap: 5px;
}

.app > * {
  /* border: 1px solid black; */
  border-radius: 10px;
  box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.app > :not(.search__input) {
  border: 1px solid cyan;
}

main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.search {
  grid-column: 1 / -1;
  position: relative;
  overflow: hidden;
}

.search__input {
  width: 100%;
  height: 100%;
  padding: 10px;
  outline: none;
  background-color: rgb(197, 229, 238);
  border: none;
}

.search__icon {
  position: absolute;
  right: 15px;
  top: 12px;
}

.weather {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.weather__icon {
  width: 100px;
  height: 120px;
  margin: auto;
}

.fav__header {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  padding-left: 18px;
}

h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.degrees {
  font-size: 70px;
  padding: 20px 0 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
}

.header__city {
  font-size: 24px;
}

.fav__list {
  list-style: none;
  font-size: 24px;
  padding: 35px 0 0 18px;
}

.fav__list li:not(.fav__list li:first-child) {
  padding-top: 10px;
}

.fav__locations {
  overflow-y: auto;
  max-height: 492px;
}

button {
  cursor: pointer;
  border: none;
  background: inherit;
}

li {
  display: flex;
  justify-content: space-between;
}

.lnr-cross {
  margin-right: 18px;
  font-size: 20px;
}

.fav-city {
  cursor: pointer;
}

.temp-wrapper {
  display: flex;
}

.temp-details {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 5px;
}

.temp-hours {
  margin-top: 22px;
  padding-left: 26px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.details-wrapper {
  display: flex;
  border-bottom: 1px solid cyan;
  &:last-child {
    border: none;
  }
}
